@import url("header.css");

body {
    background: #654ea3;
    background: linear-gradient(to right, #e96443, #904e95);
    min-height: 100vh
}

.disabled{
    pointer-events: none;
    opacity: 0.7;
}